# Database Configuration
POSTGRES_USER=captcha_user
POSTGRES_PASSWORD=captcha_password
POSTGRES_DB=captcha_dental_db
DATABASE_URL=postgresql://captcha_user:captcha_password@db:5432/captcha_dental_db

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Frontend Configuration
REACT_APP_API_URL=http://localhost:8000

# Security (Change in production!)
SECRET_KEY=your-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=a40589001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-f33649db10f26d81c63194891b26853fec095e753b35be81a5b4d2d96fb945ec-Ch2WRa949pLqSqin
MAIL_FROM=no-reply@dentag.xyz